* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --default-color: #fff;
    --header-background-color: #2D25A0;
    --main-background-color: #fff;
    --player-title-color: #18191F;
    --content-color: #6C6C6C;
    --content-title-color: #0A0826;
}

h2 {
    pointer-events: none;
}

h1, i, img {
    pointer-events: none;
    user-select: none;
}

.youtube {
    color: #FF0000;
}

.facebook {
    color: #1778F2;
}

.twitter {
    color: #1DA1F2;
}

.twitch {
    color: #6441A4;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    color: var(--default-color);
    text-decoration: none;
    background-color: #E02C6D;
    padding: 9px 21px;
    transition: transform 1s;
}

.initial-element {
    display: none;
}

.login-element:hover {
    transform: rotate(360deg);
}

.link-element:hover {
    transform: scale(1.25, 1.25);
    background-color: rgb(14, 5, 34);
    color: rgb(236, 254, 255);
}

.flex-style {
    display: flex;
}

.flex-hr-square {
    justify-content: center;
}

.flex-vr-square {
    align-items: center;
}

.flex-all-square {
    justify-content: center;
    align-items: center;
}

.grid-style {
    display: grid;
}

header {
    color: var(--default-color);
    background-color: var(--header-background-color);
}

nav {
    justify-content: space-between;
    color: var(--default-color);
    margin: 0 100px 0 136.72px;
    padding: 36.81px 0 58.72px 0;

    font-style: normal;
    font-weight: 500;
    font-size: 14.0222px;
    line-height: 21px;
}

ul li {
    margin-right: 31.55px;
}

li .top-element, footer a {
    color: unset;
    background-color: unset;
    padding: 0;
}

li .top-element:hover {
    color: rgb(168, 181, 255);
}

li hr {
    border: none;
    width: 0;
    height: 0;
    transition: width 0.3s;
}

.top-element:hover hr {
    border: 1px solid rgb(168, 181, 255);
    background-color: rgb(168, 181, 255);
    width: 100%;
}

.text-left-gap {
    padding-left: 7.01px;
}

.text-right-gap {
    padding-right: 7.01px;
}

.header-content {
    justify-content: space-between;
}

.header-text {
    width: 425.05px;
    margin-left: 136.72px;
}

.header-text h1 {
    margin: 47.32px 0 23.66px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 56.0889px;
    line-height: 70px;
}

.header-image {
    margin-bottom: 159.05px;
    margin-right: 110px;
}

.header-image img {
    width: 487.28px;
}

.players-grid {
    margin-top: 75px;
    margin-bottom: 166.6px;

    grid-template-columns: repeat(3, 1fr);
    gap: 23.66px 26.29px;
}

.player {
    width: 262.92px;
    padding: 13.15px 13.15px 28.92px;
    box-shadow: 0px 0px 35.0556px rgba(0, 0, 0, 0.15); 
}

.player-image {
    width: 100%;
    height: 224.36px;
}

.player h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24.5389px;
    line-height: 35px;
}

.player p {
    color: var(--content-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14.0222px;
    line-height: 23px;
}

.message-content {
    justify-content: space-between;
    margin: 0 159.5px 160px 159.5px;
}

.message-video iframe {
    width: 450px;
}

.message-text {
    margin-top: 30px;
    width: 400px;
}

.message-text span {
    display: block;
}

.headline-content {
    margin: 0 136.72px 100.47px 159.5px;
    justify-content: space-between;
}

.header-headline {
    margin-top: 51.71px;
    width: 411.03px;
}

.header-headline h2 {
    color: var(--content-title-color);
    margin-bottom: 7.01px;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 53px;
}

.header-headline p {
    color: var(--content-color);
    margin-bottom: 21.03px;
    width: 354.06px;
    font-style: normal;
    font-weight: normal;
    font-size: 14.0222px;
    line-height: 25px;
}

.headline-image img {
    width: 496.91px;
}

.subscription h3, .submission {
    font-size: 22px;
}

.subscription {
    margin-bottom: 120px;
}

.subscription-container {
    border: 0.5px solid rgba(11, 11, 59, 0.171);
    padding: 15px 22px 15px 8px;
    box-shadow: 0px 0px 35.0556px rgba(0, 0, 0, 0.15); 
}

.submission {
    font-size: 1.65em;
    border-radius: 10px;
}

.submission input {
    outline: none;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid green;
    border-bottom: 1px solid green;
    border-top: 1px solid green;
}

.submission input:focus {
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
}

.submission button {
    cursor: pointer;
    background-color: var(--default-color);
    border:none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    border-right: 1px solid orange;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
}

.submission button:hover {
    background-color: rgba(41, 37, 37, 0.144);
    border-right: 1px solid blue;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}

h3, .submission input, .submission button {
    padding: 8px 12px;
}

footer {
    flex-direction: column;
}

.footer-container {
    flex-direction: column;
}

.intro-footer img {
    width: 424.06px;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a i {
    font-size: 25px;
    padding-left: 12.27px;
    padding-right: 12.27px;
    transition: transform 0.5s;
}

.footer-social a:hover {
    transform: scale(1.4, 1.4);
}

.footer-copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 15.775px;
    line-height: 21px;
    
    color: #000000;
    margin-bottom: 55.21px;
}